
@import "../../variables.scss";


:host {
    position: sticky;
    display: inline-block;
    top: 20px;
    left: 100%;

    @include tablet {
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

ul {
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;

    @include phone {
        display: block;
        text-align: center;
    }
}

a {
    padding: 2px 7px 3px 7px;
    margin: 0px 1px;
    border-radius: 5px;
    border: 1px solid transparent;
    
    color: color(text-nav);
    text-decoration: none;
    font-family: $font-1;
    font-weight: bold;
    font-size: 15px;

    @include tablet {
        font-size: 16px;
    }

    @include phone {
        display: block;

        width: 125px;
        margin-bottom: 10px;
        padding: 5px auto;

        background: color(h-btn-hover-bg);
    }
}

a:hover {
    @extend %btn-hover;
}

a:active {
    border: 1px inset color(h-btn-active-border);
    background: color(h-btn-hover-bg);
}

.active {
    color: color(btn-active-text);
    -webkit-text-stroke: 0.3px color(btn-active-stroke);
}
