
@import "../../variables.scss";


:host {
    position: sticky;
    display: inline-block;
    top: 20px;
    left: 100%;
}

ul {
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

a {
    padding: 2px 7px 3px 7px;
    margin: 0px 1px;
    border-radius: 5px;
    border: 1px solid transparent;
    
    color: color(text-nav);
    text-decoration: none;
    font-family: $font-1;
    font-weight: bold;
    font-size: 15px;
}

a:hover {
    @extend %btn-hover;
}

a:active {
    border: 1px inset color(h-btn-active-border);
    background: color(h-btn-hover-bg);
}

.active {
    color: color(btn-active-text);
    -webkit-text-stroke: 0.3px color(btn-active-stroke);
}
