
<!-- Background div is to give a background
        that is wider than the header element -->
<div class="background"></div>

<!-- Navigarion -->
<app-nav></app-nav>

<!-- Profile picture -->
<app-profile-picture></app-profile-picture>

<!-- Button to open / close the sidenav -->
<app-sidebar-button (change)="onBtnSidenavClicked()"></app-sidebar-button>

<!-- Button to open / close main nav bar for mobile media -->
<!-- <button *ngIf="btnShowHeader"
    [style.visibility]="isPhone ? 'visible' : 'hidden'"
    (click)="onBtnShowHeaderClicked()"
    id="btnShowHeader">
    <div></div><div></div>
</button> -->

<!-- Button to scroll up on mobile media -->
<button *ngIf="btnScrlUp"
    (click)="onBtnScrlUpClicked()"
    [style.visibility]="isPhone ? 'visible' : 'hidden'"
    id="btnScrlUp">
    <div></div><div></div><div></div><div></div>
</button>

<!-- The heading for main content of the page -->
<h1>{{ title }}</h1>

<!-- Horizontal line -->
<div class="h-line"></div>
