
<!-- Background div is to give a background
        that is wider than the header element -->
<div class="background"></div>

<!-- Navigarion -->
<app-nav></app-nav>

<!-- Profile picture -->
<app-profile-picture></app-profile-picture>

<!-- Button to open / close the sidenav -->
<app-sidebar-button
    *ngIf="renderBtnSidenav"
    (change)="onBtnSidenavClicked()"
></app-sidebar-button>

<!-- Button to scroll up on mobile media -->
<button id="btnScrlUp">
    <div></div><div></div><div></div><div></div>
</button>

<!-- The heading for main content of the page -->
<h1>{{ title }}</h1>

<!-- Horizontal line -->
<div class="h-line"></div>
