
<br />

<p>
  For any enquiries fill out the form below:
</p>

<br />
<div class="name-email">
  <div class="frm-group">
    <label for="name">Name:</label>
    <input
      id="name"
      type="text"
    />
  </div>
  <div class="frm-group">
    <label for="name">Email:</label>
    <input
      id="email"
      type="text"
    />
  </div>
</div>
<!-- <div class="frm-group"> -->
  <label for="name">Message:</label>
  <textarea
    name="message"
    id="message"
    rows="8"
  ></textarea>
<!-- </div> -->

<button>Send</button>

<br />
