
@import "../../variables.scss";


:host {
    z-index: 1;
    display: block;

    position: sticky;
    top: -133px;
    margin-top: 20px;
    height: $header-height;

    @include tablet {
        height: $header-height-tablet;
        top: -140px;
    }

    @include phone {
        height: $header-height-phone;
        top: -140px;
    }
}

// This element gives wider background than header element
.background {
    position: absolute;
    left: -10%;

    height: $header-height;
    width: 120%;

    background: color(bg-1);

    @include tablet {
        height: $header-height-tablet;
    }

    @include phone {
        height: $header-height-phone;
    }
}

// The heading for main content of the page
h1 {
    position: absolute;
    bottom: 25px;
    left: 220px;
    transform: translate(0, 50%);
    margin: 0;

    color: color(text-h1);
    font-family: $font-1;
    font-size: 26px;

    @include tablet {
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

// Horizontal lline
.h-line {
    @extend %line;

    bottom: -1px;
    left: -2%;

    width: 104%;
    height: 3px;
}
