
@import "../../variables.scss";

:host {
    z-index: 1;
    display: block;

    position: sticky;
    top: -100px;

    background: map-get($colors, blackground-1);
}

.container {
    position: relative;

    width: 85%;
    max-width: 800px;
    height: $header-hedight;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.h-line {
    position: absolute;
    bottom: -1px;
    left: -2%;

    width: 104%;
    height: 3px;

    border-radius: 40%;

    background: map-get($colors, lines-blackground);
    box-shadow: map-get($colors, h-line-box-shadow);
}