
@import "../../variables.scss";


:host {
    display: block;
    margin: 0px auto;

    width: 85%;
    max-width: 800px;
}

main {
    display: flex;
    position: relative;
    margin: 20px auto 0 auto;
}
