
@import "../../global-scss/variables.scss";


:host {
    flex: 1;
    position: relative;
}

.container {
    display: inline-block;
    margin: 0;

    height: 1500px;

    border-radius: 4px;
    background: color(bg-4);
    box-shadow: inset 0px 0px 15px color(content-box-shadow);
    color: color(text-content);
    font-family: $font-1;
}

h2 {
    margin: 45px 20px 20px 50px;
    font-size: 23px;
}

p {
    margin: 0px 30px;
    font-size: 15px;
}
