
<h1>Projects</h1>

<div class="container">
  <h2>Workout App</h2>
  <p>
      This app is to help keep track of the workout
      sessions. It keeps track of information such as
      which excercises the user was doing, for how
      many sets and how many reps.
      <br />
      <br />
      Click <a href="#">here</a> to go to the app page.
  </p>
  <h2>How the app was made</h2>
  <p>
      This app was made using the MEAN stack. That is
      Angular on the front end, and node.js and MongoDB
      on the back end.
      <br />
      <br />
      Click <a href="#">here</a> to go to the source
      code on GitHub.
  </p>
  <br />
  <h2>Screenshots</h2>
  <br>
  <br>
</div>
