
$app-width:             85%;
$app-max-width:         800px;
$main-margin-top:       20px;
$main-margin-bottom:    0;

$h-line-bottom:         -1px;
$v-line-top:            -18px;


$header: (
    top-desktop:        -133px,
    margin-top:         20px,
    height-desktop:     185px,

    top-tablet:         -140px,
    height-tablet:      240px,

    top-phone:          -140px,
    height-phone:       350px,
);

$nav: (
    top-desktop:        20px,
    left-desktop:       100%,

    top-tablet:         160px,
    left-tablet:        50%,
    transform-tablet:   translate(-50%, 0),

    a-margin-desktop:   0 1px,
    a-padding-desktop:  2px 7px 3px 7px,

    a-margin-phone:     0 0 10px 0,
    a-padding-phone:    5px auto,
    a-width-phone:      125px,
);

$page-heading: (
    bottom-desktop:     25px,
    left-desktop:       220px,
    transform-desktop:  translate(0, 50%),
    height-desktop:     185px,
    
    left-tablet:        50%,
    transform-tablet:   translate(-50%, 50%),
    height-tablet:      240px,
);

$profile-picture: (
    top-desktop:        0,
    left-desktop:       0,
    width-desktop:      200px,
    height-desktop:     130px,

    left-tablet:        50%,
    transform-tablet:   translate(-50%, 0),

    img-top:            5%,
    img-left:           50%,
    img-transform:      translate(-50%, 0),
    img-width:          40%,

    label-bottom:       4%,
    label-left:         50%,
    label-transform:    translate(-50%, 0),
);

$hamburger-button: (
    bottom:             25px,
    left:               0,
    transform:          translate(0, 50%),
    width:              35px,
    height:             30px,
);

$sidebar: (
    top-desktop:        0,
    top-tablet:         0,
    top-phone:          0,

    top-sticky-desktop: 72px,
    top-sticky-tablet:  120px,
    top-sticky-phone:   72px,

    hide-top:           -19px,

    container-padding:  10px 28px 30px 28px,
    container-margin:   0 20px 0 0,

    h2-margin:          0 auto 10px auto,
    h2-transform:       translate(-10px, 0),

    h3-margin:          25px 0 0 0,
    h3-padding:         0,

    ul-margin:          12px 0 0 5px,
    ul-padding:         0,

    a-margin:           5px 0 0 0,
    a-padding:          3px 5px,
);



@function details($element, $arg) {
    @return map-get($element, $arg);
}
