
<h1 id="portfolio-site" #portfolio_site>Portfolio Site</h1>

<p>
    This website is my portfolio site. I started making it in November 2018.
</p>
<p>
    The front end was made using Angular 7 framework with scss, html and typescript
    code. The backend is using .Net Core 2.1 with c#.
</p>
<p>
    The source code for this project is available on github <a href="#" target="_blank">here</a>.
</p>
<br />



<h1 id="workout-app" #workout_app style="margin-top: 30px;">Workout App</h1>
<p>
    This app is to help keep track of the workout
    sessions.
</p>
<p>
    It helps keep track of information such as
    which excercises the user was doing, for how
    many sets and how many reps.
</p>
<p>
    Click <a href="#" target="_blank">here</a> to go to the app page.
</p>

<h2>Screenshots</h2>


<h2>How the app was made</h2>
<p>
    This app was made using the MEAN stack. That is
    Angular on the front end, and node.js and MongoDB
    on the back end.
    <br />
    <br />
    Click <a href="#" target="_blank">here</a> to go to the source
    code on GitHub.
</p>
<br />
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
