
<h1 id="portfolio-site" #portfolio_site>Portfolio Site</h1>

<p>
    This is my portfolio site. I started making it in November 2018.
</p>
<p>
    When examining this website, don't forget to resize the window width
    to see how it would work on tablet and mobile devices. The sidenav and
    top navbar work differently on scroll on different screen sizes.
</p>
<p>
    The front-end is made using Angular 7 framework with scss, html and typescript
    code. The back-end is built using .Net Core 2.1 with c#.
</p>
<p>
    The website is hosted on Azure and is served using .Net Core 2.1 api application
    and SQL Server database. The back-end api serves several front end Angular applications
    based on the route. The back-end also serves data to the front-end apps.
</p>
<p>
    Click <a href="https://github.com/EugeneMetlitski/Portfolio-v1" target="_blank">here</a> to view the source code on GitHub for
    the front-end portion of Portfolio Site.
</p>
<p>
    The back-end is backed up on GitBucket on a private repositary, because I don't want
    it to be on a public repository for security.
</p>
<br />



<h1 id="workout-app" #workout_app style="margin-top: 30px;">Workout App</h1>
<p>
    This app is to help keep track of the workout
    sessions.
</p>
<p>
    It helps keep track of information such as
    which excercises the user was doing, for how
    many sets and how many reps.
</p>
<p>
    Click <a href="http://eugene-metlitski.com/workout-app" target="_blank">here</a> to go to the app page.
</p>

<h2>Screenshots</h2>


<h2>How the app was made</h2>
<p>
    This app was made using the MEAN stack. That is
    Angular on the front end, and node.js and MongoDB
    on the back end.
    <br />
    <br />
    Click <a href="https://github.com/EugeneMetlitski/Workout-App-v1" target="_blank">here</a> to go to the source
    code on GitHub.
</p>
<br />
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
