
button {
    z-index: 100;
    cursor: pointer;
    
    position: absolute;
    top: -40px;
    left: 0;

    width: 35px;
    height: 30px;

    border: 2px outset rgba(187, 196, 142, 0.1);
    border-radius: 7px;
    outline: none;

    background: transparent;
}

button div {
    width: 80%;
    height: 8%;
    margin: 8% auto;
    border: 1px solid rgba(42, 43, 36, 0.856);
    border-radius: 5px;

    background: rgba(216, 212, 199, 0.938);
}

button:hover {
    background: rgba(177, 177, 177, 0.13);
}

button:active {
    border: 2px inset rgba(104, 101, 95, 0.527);
    background: rgba(90, 90, 90, 0.397);
}
