
@import "../../variables.scss";


// The hamburger button
button {
    cursor: pointer;
    
    position: absolute;
    bottom: 25px;
    left: 0;
    transform: translate(0, 50%);

    width: 35px;
    height: 30px;

    border: 2px outset color(h-btn-border);
    border-radius: 7px;
    outline: none;

    background: transparent;
}

// The lines inside the button
button div {
    width: 80%;
    height: 8%;
    margin: 8% auto;
    border: 1px solid color(h-btn-lines-border);
    border-radius: 5px;

    background: color(h-btn-lines);
}

button:hover {
    background: color(h-btn-hover-bg);
}

button:active {
    border: 2px inset color(h-btn-active-border);
    background: color(h-btn-hover-bg);
}
