
<div (window:resize)="onWindowResize($event)">

  <app-header
    (btnSidenavClick)="onBtnSidenavClicked()"
    [media]="media"
    [btnHeaderDown]="btnHeaderDown"
  ></app-header>
  <app-header-button
    (change)="btnHeaderDown = !btnHeaderDown"
  ></app-header-button>
  
  <main>
    <app-sidebar
      [content]="sidenavContent"
      [hide]="sidenavHide"
      [renderWidth]="sidenavRenderWidth"
      [useTransition]="sidenavUseTransition"
    ></app-sidebar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-portfolio></app-portfolio> -->
  </main>
  
  <!-- <footer></footer> -->

</div>


