
@import "../../global-scss/variables.scss";

button {
    // visibility: hidden;
    cursor: pointer;
    z-index: 3;
    position: fixed;
    top: 41px;
    left: 85%;
    transform: translate(0, -100%);

    width: details($hamburger-button, width);
    height: details($hamburger-button, height);

    border: 2px outset transparent;
    border-radius: 7px;
    outline: none;

    background: transparent;

    div {
        position: absolute;
        left: 49%;
        top: 39%;
        display: inline-block;
        width: 40%;
        height: 8%;
        margin: 8% 0;
        border-radius: 100px;

        background: color(h-btn-lines);
    }

    div:nth-child(1) {
        transform: translate(-80%, 0) rotate(45deg);
    }

    div:nth-child(2) {
        transform: translate(-20%, 0) rotate(-45deg);
    }
}

button:hover {
    background: color(h-btn-hover-bg);
}

button:active {
    border: 2px inset color(h-btn-active-border);
    background: color(h-btn-hover-bg);
}
