
@import "../../variables.scss";


:host {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 15px;

    width: 200px;
    height: 130px;

    background: color(bg-2);

    @include tablet {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

img {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 40%;
    height: auto;
    
    padding: 5px;
    border: 1px solid color(img-border);
    border-radius: 50%;
}

label {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);

    white-space: nowrap;

    color: color(text-name);
    font-family: $font-2;
    font-size: 15px;
}
