
<br />
<h2 #introduction style="text-align: center">Introduction</h2>
<p>
  My name is Eugene Metlitski. I've been studying software development since 2016
  and this is my potfolio website.
</p>



<br />
<h2 #skills style="text-align: center;">Skills</h2>
<div class="skills">
  <div class="container" style="width: 135px">
    <div><b><i>c#</i></b><div></div><div class="full"></div><div class="full"></div><div class="full"></div><div class="full"></div></div>
    <div><b><i>Java</i></b><div></div><div class="full"></div><div class="full"></div><div class="full"></div><div class="full"></div></div>
    <div><b><i>Python</i></b><div></div><div></div><div class="full"></div><div class="full"></div><div class="full"></div></div>
    <div><b><i>c/c++</i></b><div></div><div></div><div></div><div class="full"></div><div class="full"></div></div>
  </div>
  <div class="container" style="width: 157px">
    <div><b><i>JavaScript</i></b><div></div><div class="full"></div><div class="full"></div><div class="full"></div><div class="full"></div></div>
    <div><b><i>HTML 5</i></b><div></div><div></div><div class="full"></div><div class="full"></div><div class="full"></div></div>
    <div><b><i>CSS 3</i></b><div></div><div></div><div class="full"></div><div class="full"></div><div class="full"></div></div>
  </div>
  <div class="container" style="width: 162px; margin-bottom: 0;">
    <div><b><i>.Net Core 2</i></b><div></div><div></div><div class="full"></div><div class="full"></div><div class="full"></div></div>
    <div><b><i>Angular 4+</i></b><div></div><div></div><div class="full"></div><div class="full"></div><div class="full"></div></div>
    <div><b><i>Node.js</i></b><div></div><div></div><div></div><div class="full"></div><div class="full"></div></div>
  </div>
</div>

<p>
  I have the most experience with c# and Java because these are the first languages I've learned
  and they were tought the most at Tafe and University.
</p>
<p>
  In my spare time I have been learning the front-end technologies such as Angular 4, HTML,
  CSS, JavaScript. I also know a little bit of c/c++.
</p>
<p>
  I have been learning some Python for machine learning and data analytics at university
  computer science course.
</p>



<br />
<h2 #education style="text-align: center;">Education</h2>

<h3 style="margin-top: 20px;">2017 - current: <span class="education">Bachelor of IT at QUT</span></h3>
<h4>- QUT, Brisbane</h4>
<h4 style="padding-left: 20px;"><i>major: Computer Science</i></h4>
<h4 style="padding-left: 20px;"><i>minor: Intelligent Systems (Machine Learning)</i></h4>
<h4 style="padding-left: 20px;"><i>minor: Data Centric Computing (Big Data)</i></h4>

<h3>2016 - 2017: <span class="education">Diploma Software Development</span></h3>
<h4>- TAFE Queensland, Caboolture</h4>

<h3><i>2015 - 2016: <span class="education">Certificate 3 in IT - Networking</span></i></h3>
<h4>- TAFE Queensland, Bracken Ridge</h4>
<div style="height: 25px;"></div>
