
@import "../../global-scss/variables.scss";


:host {
    z-index: 1;
    top: details($sidebar, top-desktop);

    @include tablet {
        top: details($sidebar, top-tablet);
    }

    @include phone {
        top: details($sidebar, top-phone);
    }
}

.sticky {
    position: sticky;
    top: details($sidebar, top-desktop);

    @include tablet {
        top: details($sidebar, top-tablet);
    }

    @include phone {
        top: details($sidebar, top-phone);
    }
}

// The sidebar itself
.sidebar {
    position: absolute;
    left: 0;

    background: color(bg-1);
}

// Element that sidebar can hide behind
.hide {
    position: absolute;
    top: details($sidebar, hide-top);
    background: color(bg-1);
}

.container {
    display: flex;
    flex-direction: column;

    margin: details($sidebar, container-margin);
    padding: details($sidebar, container-padding);
    border-radius: 4px;

    background: color(bg-3);
    box-shadow: 0px 0px 20px color(sidenav-shadow);
}

h2 {
    text-align: center;
    margin: details($sidebar, h2-margin);
    transform: details($sidebar, h2-transform);

    color: color(text-sidenav-h2);
    font-size: 22px;
}

h3 {
    text-align: center;

    margin: details($sidebar, h3-margin);
    padding: details($sidebar, h3-padding);

    border-bottom: 1px solid color(text-sidenav-h3);

    color: color(text-sidenav-h3);
    text-shadow: 4px 4px 3px color(sidenav-h3-text-shadow);

    font-family: $font-1;
    font-weight: bold;
    font-size: 18px;
}

ul {
    display: inline-block;
    list-style-type: none;

    margin: details($sidebar, ul-margin);
    padding: details($sidebar, ul-padding);
}

a {
    display: inline-block;
    white-space: nowrap;

    margin: details($sidebar, a-margin);
    padding: details($sidebar, a-padding);
    border: 1px solid transparent;
    border-radius: 3px;

    color: color(text-sidenav-a);
    text-shadow: 2px 2px 2px color(sidenav-a-text-shadow);
    -webkit-text-stroke: 0.2px color(sidenav-a-text-stroke);
    text-decoration: none;
    font-family: $font-1;
    font-size: 14px;
}

a:hover {
    background: color(sidenav-a-hover-bg);
    color: color(sidenav-a-hover-text);
    -webkit-text-stroke: 0.2px color(sidenav-a-hover-stroke);
}

a:active {
    border: 1px inset color(h-btn-active-border);
    background: color(h-btn-hover-bg);
}

.active {
    color: color(sidenav-a-hover-text);
    -webkit-text-stroke: 0.2px color(sidenav-a-hover-stroke);
    font-weight: bold;
}

.v-line {
    @extend %line;

    top: $v-line-top;
    width: 3px;
}
