
@import "../../global-scss/variables.scss";


:host {
    z-index: 1;
    position: relative;
    top: details($sidebar, top-desktop);
    height: inherit;

    @include tablet {
        top: details($sidebar, top-tablet);
    }

    @include phone {
        top: details($sidebar, top-phone);
    }
}

#background {
    position: absolute;
    left: 0;
    height: inherit;

    background: color(bg-1);
    // background: red;

    .sticky {
        position: sticky;
        top: details($sidebar, top-sticky-desktop);
    
        @include tablet {
            top: details($sidebar, top-sticky-tablet);
        }
    
        @include phone {
            top: details($sidebar, top-sticky-phone);
        }

        // The sidebar itself
        .sidebar {
            display: inline-block;

            h2 {
                text-align: center;
                margin: details($sidebar, h2-margin);
                transform: details($sidebar, h2-transform);
            
                color: color(text-sidenav-h2);
                font-size: 22px;
            }

            .content {
                display: flex;
                flex-direction: column;

                margin: details($sidebar, container-margin);
                padding: details($sidebar, container-padding);
                border-radius: 4px;
    
                background: color(bg-3);
                box-shadow: 0px 0px 20px color(sidenav-shadow);

                h3 {
                    text-align: center;
                
                    margin: details($sidebar, h3-margin);
                    padding: details($sidebar, h3-padding);
                
                    border-bottom: 1px solid color(text-sidenav-h3);
                
                    color: color(text-sidenav-h3);
                    text-shadow: 4px 4px 3px color(sidenav-h3-text-shadow);
                
                    font-family: $font-1;
                    font-weight: bold;
                    font-size: 18px;
                }
                
                ul {
                    display: inline-block;
                    list-style-type: none;
                
                    margin: details($sidebar, ul-margin);
                    padding: details($sidebar, ul-padding);
                }
                
                a {
                    display: inline-block;
                    white-space: nowrap;
                
                    margin: details($sidebar, a-margin);
                    padding: details($sidebar, a-padding);
                    border: 1px solid transparent;
                    border-radius: 3px;
                
                    color: color(text-sidenav-a);
                    text-shadow: 2px 2px 2px color(sidenav-a-text-shadow);
                    -webkit-text-stroke: 0.2px color(sidenav-a-text-stroke);
                    text-decoration: none;
                    font-family: $font-1;
                    font-size: 14px;
                }
    
                a:hover {
                    background: color(sidenav-a-hover-bg);
                    color: color(sidenav-a-hover-text);
                    -webkit-text-stroke: 0.2px color(sidenav-a-hover-stroke);
                }
                
                a:active {
                    border: 1px inset color(h-btn-active-border);
                    background: color(h-btn-hover-bg);
                }
                
                .active {
                    color: color(sidenav-a-hover-text);
                    -webkit-text-stroke: 0.2px color(sidenav-a-hover-stroke);
                    font-weight: bold;
                }
            }
        }
    }

    .v-line {
        @extend %line;
    
        top: $v-line-top;
        right: 0;
        width: 3px;
        height: 102%;
    }
}

// Element that sidebar can hide behind
.wall {
    // visibility: hidden;
    position: absolute;
    top: -19px;
    left: 0;
    transform: translate(calc(-100% - 20px), 0);
    width: 100px;
    height: calc(100% + 30px);
    background: color(bg-1);
    // background: black;
}
