
<div id="sidebarWidth" style="height:100%;">
<!-- This div controls the rendered width that pushes the content
to the side on larger screens -->

    <div id="sidebarBackground">
    <!-- Background div contains all the visible parts of sidenav inclusing
    the vertical line and it also created a background. It moves to the side
    to hide behind wall element when the sidenav is supposed to be hidden -->

        <div class="sticky">
            <div class="sidebar">
                <h2>{{ title }}</h2>

                <div class="content">
                    <div *ngFor="let section of contentService.content">
                        <h3>{{ section.title }}</h3>
                        <ul>
                            <li *ngFor="let link of section.links">
                                <a href="#" [class.active]="link.active">{{ link.txt }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="v-line"></div>

    </div><!--background-->

    <!-- Element that background element can hide behind -->
    <div id="sidebarWall"></div>

</div><!--width-->
