
@import "../../../global-scss/variables.scss";


:host {
    position: sticky;
    display: inline-block;
    top: details($nav, top-desktop);
    left: details($nav, left-desktop);

    @include tablet {
        position: absolute;
        top: details($nav, top-tablet);
        left: details($nav, left-tablet);
        transform: details($nav, transform-tablet);
    }
}

ul {
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;

    @include phone {
        display: block;
        text-align: center;
    }
}

a {
    margin: details($nav, a-margin-desktop);
    padding: details($nav, a-padding-desktop);
    border-radius: 5px;
    border: 1px solid transparent;
    
    color: color(text-nav);
    text-decoration: none;
    font-family: $font-1;
    font-weight: bold;
    font-size: 15px;

    @include tablet {
        font-size: 16px;
    }

    @include phone {
        display: block;

        width: details($nav, a-width-phone);
        margin: details($nav, a-margin-phone);
        padding: details($nav, a-padding-phone);

        background: color(h-btn-hover-bg);
    }
}

a:hover {
    @extend %btn-hover;
}

a:active {
    border: 1px inset color(h-btn-active-border);
    background: color(h-btn-hover-bg);
}

.active {
    color: color(btn-active-text);
    -webkit-text-stroke: 0.3px color(btn-active-stroke);
}
